<section class="content-info">
  <div class="container">
    <div class="row padding-top padding-bottom">
      <div class="col-md-12">
        <h2 class="text-center" style="color: white;">Ligue des champions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="recent-results results-page">
          <div class="info-results">
            <ul>
              <li *ngFor="let match of matches">
								<span class="head">{{ match.homeTeam.name }} Vs {{ match.awayTeam.name }}
                  <span class="date">{{match.utcDate|date:'dd/MM/yy HH:mm'}}</span>
								</span>
                <div class="goals-result text-center" style="  display: grid; grid-template-columns: [first] 30% auto [last] 30%;">
                  <a href="#">
                    <img [src]="match.home_team_image" alt=""> {{ match.homeTeam.name }}

                  </a>
                  <span class="goals" style="margin: 0 auto;">
											<b>{{ match.score.fullTime.homeTeam }}</b> -
											<b>{{ match.score.fullTime.awayTeam }}</b>
											<a [routerLink]="['matches', match.id]" class="btn theme">View More</a>
										</span>
                  <a href="#">
                    <img [src]="match.away_team_image" alt=""> {{ match.awayTeam.name }}
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
