<div class="section-title single-result">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-white padding-bottom">{{match.competition.name}}</h2>
      </div>
    </div>
    <!-- Result -->
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <div class="team">
          <!--            <img [src]="match.home_team_image" alt="club-logo">-->
          <a href="#">{{match.homeTeam.name}}</a>
        </div>
      </div>

      <div class="col-md-2 col-lg-2">
        <div class="result-match">
          {{match.score.fullTime.homeTeam}} : {{match.score.fullTime.awayTeam}}
        </div>
      </div>

      <div class="col-md-5 col-lg-5">
        <div class="team right">
          <a href="#">{{match.awayTeam.name}}</a>
          <!--            <img [src]="match.away_team_image" alt="club-logo">-->
        </div>
      </div>
    </div>
    <!-- End Result -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center padding-top font-weight-bold">{{match.venue}}</h3>
      </div>
    </div>
  </div>
</div>
